<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Newspipe is a web news aggregator and reader." />
    <meta name="author" content="" />
    <title>Newspipe{% if head_titles %} - {{ ' - '.join(head_titles) }}{% endif %}</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename="img/favicon.ico") }}" />
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="bower_components/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet" media="screen" />
    <!-- Add custom CSS here -->
    <link href="{{ url_for("static", filename="css/customized-bootstrap.css") }}" rel="stylesheet" media="screen" />
    <link href="{{ url_for("static", filename="css/side-nav.css") }}" rel="stylesheet" media="screen" />
    <!-- jquery, bootstrap, datatables -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/popper.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css") }}">
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/datatables.net/js/jquery.dataTables.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js") }}"></script>
    {% endblock %}
  </head>
  <body>
    {% block menu %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for("home") }}">Newspipe</a>
        <!-- {% if head_titles %}
          <p class="navbar-text" style="max-height: 20px; overflow: hidden">
          {{ " - ".join(head_titles) }}
          </p>
        {% endif %} -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
                {% if conf.CRAWLING_METHOD == "default" and (not conf.ON_HEROKU or current_user.is_admin) %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/fetch"><span class="glyphicon glyphicon-import"></span> {{ _('Fetch') }}</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Boookmarks
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('bookmarks.list_') }}">{{ _('Your bookmarks') }}</a>
                        <a class="dropdown-item" href="{{ url_for('bookmark.form') }}">{{ _('Add a new bookmark') }}</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ _('Add a new feed') }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item">
                            <form action="{{ url_for('feed.bookmarklet') }}" class="navbar-form  navbar-left" method="GET" name="save">
                              <div class="input-group input-group-inline">
                                  <input class="form-control" name="url" type="url" placeholder="{{_("Site or feed url")}}" required="required"/>
                                  <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                  </span>
                              </div><!-- /input-group -->
                            </form>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ _('Add a new category') }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item">
                            <form action="{{ url_for('category.form') }}" class="navbar-form  navbar-left" method="POST" name="category">
                              <div class="input-group input-group-inline">
                                  <input class="form-control" name="name" type="text" placeholder="{{_("Category name")}}" required="required"/>
                                  <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                  </span>
                              </div><!-- /input-group -->
                            </form>
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ _('Feed') }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                        <a class="dropdown-item" href="{{ url_for("feeds.inactives") }}">{{ _('Inactive') }}</a>
                        <a class="dropdown-item" href="{{ url_for("articles.history") }}">{{ _('History') }}</a>
                        <a class="dropdown-item" href="{{ url_for("feeds.feeds") }}">{{ _('All') }}</a>
                        <a role="presentation" class="divider"></a>
                        <a class="dropdown-item" href="{{ url_for("popular") }}">{{ _('Popular') }}</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
                        <a class="dropdown-item" href="{{ url_for("user.profile") }}"><span class="glyphicon glyphicon-user"></span> {{ _('Profile') }}</a>
                        <a class="dropdown-item" href="{{ url_for("user.management") }}"><span class="glyphicon glyphicon-hdd"></span> {{ _('Your data') }}</a>
                        <a class="dropdown-item" href="{{ url_for("about") }}"><span class="glyphicon glyphicon-question-sign"></span> {{ _('About') }}</a>
                        {% if current_user.is_admin %}
                        <a role="presentation" class="divider"></a>
                        <a class="dropdown-item" href="{{ url_for("admin.dashboard") }}"><span class="glyphicon glyphicon-dashboard"></span> {{ _('Dashboard') }}</a>
                        <a role="presentation" class="divider"></a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for("bookmarks.list_") }}">{{ _('Recent bookmarks') }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for("popular") }}">{{ _('Popular feeds') }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for("about") }}">{{ _('About') }}</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>


    {% endblock %}
    <br />

    <div class="container alert-message not-at-home">
    {% block messages %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
    </div>

    {% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/articles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/feed.js') }}"></script>
  </body>
</html>
